
html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}





.header {
    background: linear-gradient(150deg, rgba(0,119,136,0.9864145487296481) 26%, rgba(7,213,213,1) 73%);     
}


.title {
    font-weight: bold;
    cursor: default;
}

.word {
    cursor: default;
}

.links {
    cursor: pointer;
}

.content {
    padding: 8%;
    max-width: 800px;
    align-self: center;
    transition-duration: 0.3s;
}

.offer {    
    text-align: center;
    transition-duration: 0.3s;
}


.foot {
    background: linear-gradient(150deg, rgba(0,119,136,0.9864145487296481) 26%, rgba(7,213,213,1) 73%); 
}








