
html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
}


.header, .content, .foot, .text, .img {
    padding: 20px;
}


.header {
    background: linear-gradient(150deg, rgba(0,119,136,0.9864145487296481) 26%, rgba(7,213,213,1) 73%);     
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.titulo {
    padding: 10px;
}

.title {
    font-weight: bold;
}

.pages {
    padding: 5px;
    display: flex;
    width: 95%;
    max-width: 300px;
    justify-content: space-between;
}

.word {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.content {
    height: 90%;
    min-height: fit-content;
    max-height: 100%;
    width: 90%;
    display: flex;
    max-width: 800px;
    justify-content: space-evenly;
    flex-direction: column;
    align-self: center;
}

.info{
    display: flex;
}

.img {
    display: flex;
    align-self: center;
    justify-self: center;
}

.text, .offer {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
}

.offer {
    width: 80%;
    align-self: center;
    justify-content: space-evenly;
}

.lines {
    display: inline-flex;
}


.foot {
    background: linear-gradient(150deg, rgba(0,119,136,0.9864145487296481) 26%, rgba(7,213,213,1) 73%); 
    display: flex;
    justify-content: center;        
}

.whiteText {
    color: white;
}










