body {
    height: 100%;
    font-family: 'Lato', sans-serif;
}


.header, .content, .foot, .text, .img {
    padding: 20px;
}

.header {
    background: rgb(0,119,136);
    background: linear-gradient(150deg, rgba(0,119,136,0.9864145487296481) 26%, rgba(7,213,213,1) 73%);     
    display: flex;
    justify-content: space-between;
}

.titulo {
    padding: 10px;
}

.title {
    font-weight: bold;
}

.pages {
    padding: 5px;
    display: flex;
    width: 95%;
    max-width: 300px;
    justify-content: space-between;
}

.word {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.content {
    width: 90%;
    max-width: 700px;
    margin: auto;
}

.info {
    display: flex;
}


.foot {
    background: rgb(0,119,136);
    background: linear-gradient(150deg, rgba(0,119,136,0.9864145487296481) 26%, rgba(7,213,213,1) 73%); 
    display: flex;
    justify-content: center;
}

.whiteText {
    color: white;
}










